<main class="quiz outer-block">
  <div class="inner-block">
    <div class="quiz-content">
      <div class="quiz-question-number"></div>
      <h2 class="quiz-question"></h2>
      <ul class="quiz-answer">
        <li>
          <label class="quiz-button button01">
            <input name="radio" type="radio" value="">
            <span class="quiz-text01"></span>
          </label>
        </li>
        <li>
          <label class="quiz-button button02">
            <input name="radio" type="radio" value="">
            <span class="quiz-text02"></span>
          </label>
        </li>
        <li>
          <label class="quiz-button button03">
            <input name="radio" type="radio" value="">
            <span class="quiz-text03"></span>
          </label>
        </li>
        <li>
          <label class="quiz-button button04">
            <input name="radio" type="radio" value="">
            <span class="quiz-text04"></span>
          </label>
        </li>
      </ul>
    </div>
  </div>
</main>